<footer>
  <div class="logo">
    <img src="images/commUnity-logo-2.png" alt="Logo" />
  </div>
  <div class="details">
    <div class="footer-inner-container">
      <div class="second-section-icon-container-footer">
        <img
          src="images/location-dot-solid.svg"
          alt="Location"
          class="second-section-icon-footer"
        />
      </div>
      <div class="new-content-footer">
        <p class="second-section-desc-footer">
          Vishnu Institute of Technology,<br />Bhimavaram, Andhra Pradesh.
        </p>
      </div>
    </div>
    <div class="footer-inner-container">
      <div class="second-section-icon-container-footer">
        <img
          src="images/phone-solid.svg"
          alt="Phone"
          class="second-section-icon-footer"
        />
      </div>
      <div class="new-content-footer">
        <p class="second-section-desc-footer">
          +91 76710 61544 <br />
          +91 79952 46442
        </p>
      </div>
    </div>
    <div class="footer-inner-container">
      <div class="second-section-icon-container-footer">
        <img
          src="images/envelope-solid.svg"
          alt="Email"
          class="second-section-icon-footer"
        />
      </div>
      <div class="new-content-footer">
        <p class="second-section-desc-footer">
          22pa1a0501@vishnu.edu.in <br />
          22pa1a05a2@vishnu.edu.in
        </p>
      </div>
    </div>
  </div>
  <div class="about">
    <div class="about-header">
      <h1>About us</h1>
    </div>
    <p class="about-desc">
      We are a team of three students from Vishnu Institute of Technology, and
      this project is part of our final Full Stack development course.
    </p>
  </div>
</footer>

<style>
  footer {
    background-color: #393e46;
    padding: 5% 8%;
    display: flex;
    align-items: center;
    margin-top: 10vh;
    justify-content: space-between; /* Evenly distribute space between the sections */
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo img {
    width: 20vw;
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Add space between each footer-inner-container */
  }

  .footer-inner-container {
    display: flex;
    align-items: center;
  }

  .second-section-icon-container-footer {
    background-color: #00adb5;
    padding: 1rem;
    border-radius: 50%;
    margin-right: 1rem; /* Add some space between the icon and text */
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 2rem;
    height: 2rem; */
  }

  .second-section-icon-footer {
    width: 1.5rem;
    height: 1.5rem;
  }

  .new-content-footer {
    text-align: left; /* Align text to the left */
  }

  .second-section-desc-footer {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: #eeeeee;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }

  .about {
    max-width: 30%;
  }

  .about-header h1 {
    color: #00adb5;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 0.5rem;
  }

  .about-desc {
    color: #eeeeeed6;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
  }
</style>
