<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>commUnity</title>
    <link rel="stylesheet" href="css/header.css">
</head>
<body>
    <nav class="container-header">
        <div class="logo-header" id="logo-header">
            <img src="images/commUnity-logo.png" alt="Logo"> <!-- Replace with your logo path -->
        </div>
        <ul class="nav-links">
            <li><a href="/compose">Unity Threads</a></li>
            <li><a href="/post">Posts</a></li>
            <li><a href="/post">Compose</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/chat">Chat</a></li>
        </ul>
        <div class="nav-button">
          <form action="/signout" method="POST">
            <button type="submit" class="request-demo">Logout</button>
        </form>
        </div>
    </nav>
</body>
<script>
  document
    .getElementById("logo-header")
    .addEventListener("click", function () {
      window.location.href = "/home2";
    });
</script>
</html>
