<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>commUnity</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <nav>
      <div class="container">
        <img
          src="images/commUnity-logo.png"
          alt="commUnity-logo"
          class="first-section-logo"
        />
        <ul class="nav-links">
          <li><a href="/post">Post</a></li>
          <li><a href="/compose">Compose</a></li>
          <li><a href="/signout">Logout</a></li>
        </ul>
      </div>
    </nav>
  </body>
</html>
