<%- include("partials/header") -%>
<link rel="stylesheet" href="css/about.css" />
<div class="about-section">
  <h2 style="color: #222831">
    Why choose <span style="color: #00adb5">comm</span
    ><span style="color: #393e46">Unity</span>?
  </h2>
  <div class="features-container">
    <div class="feature-box">
      <img src="images/vision.png" alt="Our Vision" />
      <h3>Our Vision</h3>
      <p>
        To connect residents of our city through meaningful interactions and
        shared experiences, building a stronger, more connected community.
      </p>
    </div>
    <div class="feature-box">
      <img src="images/ourmission22.png" alt="Our Mission" />
      <h3>Our Mission</h3>
      <p>
        Empowering locals to discover, engage, and contribute to their community
        through a platform that promotes connection and collaboration.
      </p>
    </div>
    <div class="feature-box">
      <img src="images/values.png" alt="Our Values" />
      <h3>Our Values</h3>
      <p>
        We value inclusivity, trust, and engagement, fostering a space where
        everyone feels welcome and valued in their community.
      </p>
    </div>
    <div class="feature-box">
      <img src="images/usage.png" alt="Usage" />
      <h3>Usage</h3>
      <p>
        Simple and intuitive, commUnity is designed for easy access and seamless
        interaction, making community participation effortless.
      </p>
    </div>
    <div class="feature-box">
      <img src="images/service.png" alt="Top Service" />
      <h3>Top Service</h3>
      <p>
        Dedicated to providing excellent support and resources to enhance your
        experience in connecting with your community.
      </p>
    </div>
    <div class="feature-box">
      <img src="images/trust.png" alt="Trusted & Guarantee" />
      <h3>Trusted & Guaranteed</h3>
      <p>
        A safe, reliable platform that ensures your interactions are secure,
        fostering trust within our community.
      </p>
    </div>
  </div>
</div>
<%- include("partials/footer") -%>
