<%- include("partials/header") -%>
<link rel="stylesheet" href="css/about.css" />
<div class="about-section">
  <h2>Why Choose commUnity?</h2>
  <div class="features-container">
      <div class="feature-box">
          <img src="images/vision.png" alt="Lowcost fees">
          <h3>Our Vision</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="feature-box">
          <img src="images/ourmission22.png" alt="Safety & secure">
          <h3>Our Mission</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="feature-box">
          <img src="icons/quick.png" alt="Quick delivery">
          <h3>Our values</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="feature-box">
          <img src="icons/easy.png" alt="Easy to use">
          <h3>Usage</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="feature-box">
          <img src="icons/customer-service.png" alt="Top customer service">
          <h3>Top Service</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="feature-box">
          <img src="icons/trusted.png" alt="Trusted & guarantee">
          <h3>Trusted & guarantee</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
  </div>
  <button class="get-started-btn">Get Started</button>
</div>
  <%- include("partials/footer") -%>