<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <nav>
      <div class="container">
        <h1 class="logo">Recipe-book</h1>
        <ul class="nav-links">
          <li><a href="/signin">Signin</a></li>
          <li><a href="/signup">SignUp</a></li>
        </ul>
      </div>
    </nav>
    <div id="vanta">
      <div class="first-section">
        <img
          src="images/commUnity-logo.png"
          alt="commUnity-logo"
          class="first-section-logo"
        />
        <h1 class="first-section-tagline">
          Build a stronger community,<span style="color: #00adb5"
            >together.</span
          >
        </h1>
      </div>
    </div>
  </body>
  <script>
    document
      .getElementById("getStartedButton")
      .addEventListener("click", function () {
        window.location.href = "/signup"; // Redirect to signup page
      });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vanta@0.5.24/dist/vanta.clouds.min.js"></script>
  <script type="text/javascript">
    VANTA.CLOUDS({
      el: "#vanta",
      mouseControls: true,
      touchControls: true,
      gyroControls: false,
      minHeight: 200.0,
      minWidth: 200.0,
    });
  </script>
</html>
