<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>commUnity</title>
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <style>
    /* Optional: Ensure no conflicting scroll behavior styles */
    html {
      scroll-behavior: auto; /* Reset to default if necessary */
    }
    #progressbar {
      position: fixed;
      top: 0;
      right: 0;
      width: 15px;
      border-radius: 10px;
      background: linear-gradient(to top, #222831, #393e46, #00adb5, #eeeeee);
      z-index: 999;
    }
  </style>
  <body>
    <div id="progressbar"></div>
    <div id="vanta">
      <!-- First Sectiom -->
      <%- include('partials/onboardingHeader') %>

      <div class="first-section">
        <img
          src="images/commUnity-logo.png"
          alt="commUnity-logo"
          class="first-section-logo"
        />
        <h1 class="first-section-tagline">
          Build a stronger community,<span style="color: #00adb5"
            >together.</span
          >
        </h1>
        <button class="button" id="getStartedButton">Get Started</button>
      </div>
    </div>
    <!-- Second section -->
    <div class="second-section" id="section2">
      <div style="display: flex">
        <div class="second-section-inner-container">
          <h1>
            Connect. Collaborate. Thrive. <br /><span style="color: #00adb5"
              >Your Local Hub.</span
            >
          </h1>
        </div>
        <p class="second-section-p">
          Feeling disconnected from your neighbors? Want a voice in shaping your
          local area? Our platform is your one-stop shop for all things local.
          Connect with residents, collaborate on solutions, and stay informed
          about everything happening in your community. From local events and
          news to discussions on important issues, we empower you to thrive in a
          connected and engaged community. Let's build a stronger community
          together!
        </p>
      </div>

      <div class="second-section-icons">
        <div>
          <div class="second-section-icon-container">
            <img
              src="images/calendar-today.svg"
              alt="events"
              class="second-section-icon"
            />
          </div>
          <div class="new-content">
            <p class="second-section-desc">Events</p>
          </div>
        </div>

        <div>
          <div class="second-section-icon-container">
            <img
              src="images/newspaper-regular.svg"
              alt="events"
              class="second-section-icon"
            />
          </div>
          <div class="new-content">
            <p class="second-section-desc">Updates</p>
          </div>
        </div>

        <div>
          <div class="second-section-icon-container">
            <img
              src="images/people-line-solid.svg"
              alt="events"
              class="second-section-icon"
            />
          </div>
          <div class="new-content">
            <p class="second-section-desc">Clubs</p>
          </div>
        </div>

        <div>
          <div class="second-section-icon-container">
            <img
              src="images/question-solid.svg"
              alt="events"
              class="second-section-icon"
            />
          </div>
          <div class="new-content">
            <p class="second-section-desc">Problems</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Fourth section(Accroding to code) -->

    <div class="fourth-section" id="section4">
      <div id="left-container">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.9.1/lottie.min.js"></script>
        <script>
          lottie.loadAnimation({
            container: document.getElementById("left-container"),
            renderer: "svg",
            loop: true,
            autoplay: true,
            path: "images/Group-Discussion.json",
          });
        </script>
      </div>
      <div class="right-container">
        <h1 class="general-discussions-h1">
          Participate in
          <span style="color: #fff"><br />General Discussions </span><br />
          of your community.
        </h1>
      </div>
    </div>

    <!-- Third Section -->

    <div class="third-section" id="section3">
      <div class="find-clubs-header">
        <h1 class="find-clubs-h1">
          Find <span style="color: #00adb5">the perfect club </span>for you
        </h1>
        <p class="find-clubs-p">
          Find the perfect club tailored to your interests and passions.
          <br />
          Explore a diverse range of clubs and connect with like-minded
          individuals today!
        </p>
      </div>

      <div class="third-section-cards">
        <!-- 1 -->
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <p class="title">Chess Club</p>
            </div>
            <div class="flip-card-back">
              <p class="title"></p>
              <p class="title-desc">
                Join a local chess club to connect with fellow enthusiasts and
                make new friends. Sharpen your skills, enjoy friendly matches,
                and experience the thrill of the game.
              </p>
            </div>
          </div>
        </div>
        <!-- 2 -->
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front art-club">
              <p class="title">Art Club</p>
            </div>
            <div class="flip-card-back art-club">
              <p class="title-desc">
                Explore your creativity and connect with like-minded artists in
                any of a local art club in your community. Participate in
                collaborative projects and learn new techniques.
              </p>
            </div>
          </div>
        </div>
        <!-- 3 -->
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front badminton-club">
              <p class="title">Badminton Club</p>
            </div>
            <div class="flip-card-back badminton-club">
              <p class="title-desc">
                Join a badminton club to meet fellow players and improve your
                game. Enjoy regular practice sessions that boost your skills and
                fitness.
              </p>
            </div>
          </div>
        </div>
      </div>
      <h1
        class="find-clubs-h1"
        style="text-transform: none; text-align: center; margin-top: 0"
      >
        and <span style="color: #00adb5">many more</span>...
      </h1>
    </div>
    <hr />
    <div class="fifth-section" id="section5">
      <h1 class="reviews-h1">
        <span style="color: #00adb5"> Rate and write reviews</span> on places in
        your community.
      </h1>
      <ul class="cards">
        <li>
          <a href="" class="card">
            <img
              src="https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              class="card__image"
              alt=""
            />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                  <path />
                </svg>
                <img
                  class="card__thumb"
                  src="https://i.imgur.com/7D7I6dI.png"
                  alt=""
                />
                <div class="card__header-text">
                  <h3 class="card__title">TIm Hortons Café</h3>
                  <span class="card__tagline">Jessica Parker</span>
                  <span class="card__status">
                    <div class="review-stars">
                      <img src="images/star-solid.svg" alt="" />
                      <img src="images/star-solid.svg" alt="" />
                      <img src="images/star-solid.svg" alt="" />
                      <img src="images/star-solid.svg" alt="" />
                      <img src="images/star-half-solid.svg" alt="" />
                    </div>
                  </span>
                </div>
              </div>
              <p class="card__description">
                A cozy cafe with delicious treats and a welcoming
                atmosphere—ideal for any time of day.
              </p>
            </div>
          </a>
        </li>
        <li>
          <a href="" class="card">
            <img
              src="https://images.unsplash.com/photo-1483648969698-5e7dcaa3444f?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              class="card__image"
              alt=""
            />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                  <path />
                </svg>
                <img
                  class="card__thumb"
                  src="https://images.unsplash.com/photo-1603162361777-165a7fd9b780?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt=""
                />
                <div class="card__header-text">
                  <h3 class="card__title">Seasonal Tastes</h3>
                  <span class="card__tagline">Michael Byers</span>
                  <span class="card__status">
                    <div class="review-stars">
                      <img src="images/star-solid.svg" alt="" />
                      <img src="images/star-solid.svg" alt="" />
                      <img src="images/star-solid.svg" alt="" />
                      <img src="images/star-half-solid.svg" alt="" />
                    </div>
                  </span>
                </div>
              </div>
              <p class="card__description">
                Exceptional dining with a menu full of flavorful dishes and
                great service to match.
              </p>
            </div>
          </a>
        </li>
        <li>
          <a href="" class="card">
            <img
              src="https://images.unsplash.com/photo-1652912369196-64f0a5d1d837?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              class="card__image"
              alt=""
            />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                  <path />
                </svg>
                <img
                  class="card__thumb"
                  src="https://images.unsplash.com/photo-1640960543409-dbe56ccc30e2?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt=""
                />
                <div class="card__header-text">
                  <h3 class="card__title">Community Park</h3>
                  <span class="card__tagline">Jessie Pink</span>
                  <span class="card__status">
                    <div class="review-stars">
                      <img src="images/star-solid.svg" alt="" />
                      <img src="images/star-solid.svg" alt="" />
                      <img src="images/star-solid.svg" alt="" />
                      <img src="images/star-solid.svg" alt="" />
                      <img src="images/star-solid.svg" alt="" />
                    </div>
                  </span>
                </div>
              </div>
              <p class="card__description">
                A beautiful spot for relaxation and recreation, offering
                something for everyone.
              </p>
            </div>
          </a>
        </li>
        <li>
          <a href="" class="card">
            <img
              src="https://images.unsplash.com/photo-1485095329183-d0797cdc5676?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              class="card__image"
              alt=""
            />
            <div class="card__overlay">
              <div class="card__header">
                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                  <path />
                </svg>
                <img
                  class="card__thumb"
                  src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                  alt=""
                />
                <div class="card__header-text">
                  <h3 class="card__title">Geetha Apsara 4K</h3>
                  <span class="card__tagline">Vijay Kumar</span>
                  <span class="card__status">
                    <div class="review-stars">
                      <img src="images/star-solid.svg" alt="" />
                      <img src="images/star-solid.svg" alt="" />
                      <img src="images/star-solid.svg" alt="" />
                      <img src="images/star-solid.svg" alt="" />
                    </div>
                  </span>
                </div>
              </div>
              <p class="card__description">
                A great movie experience with outstanding sound and
                visuals—perfect for all cinema lovers.
              </p>
            </div>
          </a>
        </li>
      </ul>
    </div>

    <%- include('partials/footer') %>
  </body>

  <script>
    document
      .getElementById("getStartedButton")
      .addEventListener("click", function () {
        window.location.href = "/signup";
      });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vanta@0.5.24/dist/vanta.clouds.min.js"></script>
  <script type="text/javascript">
    VANTA.CLOUDS({
      el: "#vanta",
      mouseControls: true,
      touchControls: true,
      gyroControls: false,
      minHeight: 200.0,
      minWidth: 200.0,
    });
  </script>
  <script>
    // Smooth scroll behavior using JavaScript
    document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
      anchor.addEventListener("click", function (e) {
        e.preventDefault();
        document.querySelector(this.getAttribute("href")).scrollIntoView({
          behavior: "smooth",
        });
      });
    });
  </script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();
      var dh = $(document).height();
      var wh = $(window).height();
      var scrollPercent = (scroll / (dh - wh)) * 100;
      $("#progressbar").css("height", scrollPercent + "%");
    });
  </script>
</html>
