<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>commUnity</title>
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <nav>
      <div class="container">
        <h1 class="logo">Recipe-book</h1>
        <ul class="nav-links">
          <li><a href="/signin">Signin</a></li>
          <li><a href="/signup">SignUp</a></li>
        </ul>
      </div>
    </nav>
    <div id="vanta">
      <div class="first-section">
        <img
          src="images/commUnity-logo.png"
          alt="commUnity-logo"
          class="first-section-logo"
        />
        <h1 class="first-section-tagline">
          Build a stronger community,<span style="color: #00adb5"
            >together.</span
          >
        </h1>
        <button class="button" id="getStartedButton">Get Started</button>
      </div>
    </div>
    <div class="second-section">
      <div style="display: flex">
        <div class="second-section-inner-container">
          <h1>
            Connect. Collaborate. Thrive. <br /><span style="color: #00adb5"
              >Your Local Hub.</span
            >
          </h1>
        </div>
        <p class="second-section-p">
          Feeling disconnected from your neighbors? Want a voice in shaping your
          local area? Our platform is your one-stop shop for all things local.
          Connect with residents, collaborate on solutions, and stay informed
          about everything happening in your community. From local events and
          news to discussions on important issues, we empower you to thrive in a
          connected and engaged community. Let's build a stronger community
          together!
        </p>
      </div>
      <div class="second-section-icons">
        <div>
          <div class="second-section-icon-container">
            <img
              src="images/calendar-today.svg"
              alt="events"
              class="second-section-icon"
            />
          </div>
          <div class="new-content">
            <p class="second-section-desc">Events</p>
          </div>
        </div>

        <div>
          <div class="second-section-icon-container">
            <img
              src="images/newspaper-regular.svg"
              alt="events"
              class="second-section-icon"
            />
          </div>
          <div class="new-content">
            <p class="second-section-desc">Updates</p>
          </div>
        </div>

        <div>
          <div class="second-section-icon-container">
            <img
              src="images/people-line-solid.svg"
              alt="events"
              class="second-section-icon"
            />
          </div>
          <div class="new-content">
            <p class="second-section-desc">Clubs</p>
          </div>
        </div>

        <div>
          <div class="second-section-icon-container">
            <img
              src="images/question-solid.svg"
              alt="events"
              class="second-section-icon"
            />
          </div>
          <div class="new-content">
            <p class="second-section-desc">Problems</p>
          </div>
        </div>
      </div>
    </div>
    <div class="third-section">
      <div class="find-clubs-header">
        <h1 class="find-clubs-h1">
          Find <span style="color: #00adb5">the perfect club </span>for you
        </h1>
        <p class="find-clubs-p">
          Find the perfect club tailored to your interests and passions. <br />
          Explore a diverse range of clubs and connect with like-minded
          individuals today!
        </p>
      </div>
      <div class="third-section-cards"></div>
    </div>
  </body>
  <script>
    document
      .getElementById("getStartedButton")
      .addEventListener("click", function () {
        window.location.href = "/signup";
      });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vanta@0.5.24/dist/vanta.clouds.min.js"></script>
  <script type="text/javascript">
    VANTA.CLOUDS({
      el: "#vanta",
      mouseControls: true,
      touchControls: true,
      gyroControls: false,
      minHeight: 200.0,
      minWidth: 200.0,
    });
  </script>
</html>
