@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inconsolata:wght@200..900&family=Kanit&family=Play:wght@400;700&family=Poppins:wght@400;500&family=Protest+Guerrilla&family=Protest+Strike&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sixtyfour&family=Smooch+Sans:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Dongle&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  padding: 0;
  margin: 0;
}

#vanta {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}
.first-section-logo {
  height: 100px;
  width: 550px;
}
.first-section-tagline {
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 9vh;
  margin: 0;
  color: #393e46;
}
/* From Uiverse.io by cssbuttons-io */
.button {
  display: inline-block;
  padding: 12px 24px;
  border: 1.5px solid #393e46;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 3vh;
  cursor: pointer;
  color: #393e46;
  z-index: 1;
  background: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #393e46;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:hover {
  color: #ffffff;
  border: 1.5px solid #393e46;
}

.button:hover:before {
  top: -35%;
  background-color: #393e46;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
  top: -45%;
  background-color: #393e46;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.second-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
  justify-content: center;
  align-items: center;
}
.second-section-inner-container {
  width: 50%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #393e46;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2%;
}
.second-section-p {
  width: 50%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  padding: 5%;
  padding-bottom: 2%;
}
/* Apply the 5th scrollbar styling to the entire webpage */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto; /* Ensure the scrollbars are active */
}

/* Firefox */

.second-section-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-section-icon-container {
  background-color: #fff;
  padding: 1rem; /* Adjust padding to control the size of the icon within the circle */
  border-radius: 50%; /* Makes the container a circle */
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem; /* Set explicit width */
  height: 5rem; /* Set explicit height */
}

.second-section-icon {
  width: 2rem;
  height: 2rem;
}

.new-content {
  text-align: center; /* Centering the new content */
  margin-bottom: 0.5rem; /* Add some space below the new content */
}
.second-section-desc {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
}
.third-section {
  margin-top: 3rem;
  margin-bottom: 6vh;
}
.find-clubs-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.find-clubs-h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: capitalize;
  font-size: 2.5rem;
  margin-bottom: 0;
}
.find-clubs-p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  text-align: center;
}
.third-section-cards {
  display: flex;
  margin-right: 3%;
}
/* From Uiverse.io by joe-watson-sbf */
.flip-card {
  background-color: transparent;
  width: 30vw;
  height: 40vh;
  perspective: 1000px;
  font-family: sans-serif;
  cursor: pointer;
  margin: 3% 0 3% 3%;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.5rem;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.flip-card-front {
  background: url("/images/chess.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.flip-card-back {
  background: url("/images/chess.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  transform: rotateY(180deg);
  position: relative;
  overflow: hidden; /* Ensure the blur stays within the card bounds */
}

.flip-card-back::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  background: inherit; /* Inherit the background image */
  background-size: inherit;
  background-repeat: inherit;
  filter: blur(10px); /* Apply blur here */
  z-index: 1; /* Ensure it is below the text content */
  border-radius: inherit; /* Match the card's border radius */
}

.flip-card-back .title,
.flip-card-back .title-desc {
  position: relative;
  z-index: 2; /* Ensure the text stays above the blurred background */
}

.title-desc {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  text-align: center;
  padding: 0 1.5rem;
  z-index: 2;
}

.flip-card-front::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.3
  ); /* Change this color and opacity as needed */
  z-index: 1; /* Position this below the title text */
  border-radius: 1rem; /* Match the border radius of the flip card */
}

.flip-card-front .title {
  position: relative;
  z-index: 2; /* Ensure the title is above the background layer */
}
.art-club {
  background: url("/images/art.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.badminton-club {
  background: url("/images/badminton.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.fourth-section {
  height: 70vh;
  display: flex;
}
#left-container {
  width: 40vw;
  margin-left: 5vw;
}
.general-discussions-h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: capitalize;
  font-size: 2.5rem;
  margin-bottom: 0;
}
.right-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45vw;
  margin-left: 5vw;
}
.fourth-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh; /* Adjust the height as needed */
}

#left-container {
  width: 50%; /* Adjust the width as needed */
}

.right-container {
  position: relative;
  width: 50%; /* Adjust the width as needed */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.right-container::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -55%;
  width: 150%;
  height: 100%;
  background-color: #00adb5; /* Adjust to your preferred color */
  border-radius: 50%;
  transform: translateY(-50%);
  z-index: -1; /* Ensure it stays behind the text */
}

.general-discussions-h1 {
  z-index: 1;
  text-align: center;
  color: #000000; /* Text color */
  font-size: 2.5rem; /* Adjust the font size as needed */
}
.fifth-section {
  margin: 15xvh 0;
  margin-bottom: 30vh;
}
/* From Uiverse.io by Yaya12085 */
.fifth-section-card {
  background-color: rgba(243, 244, 246, 1);
  padding: 2rem;
  max-width: 320px;
  border-radius: 10px;
  box-shadow: 0 20px 30px -20px rgba(5, 5, 5, 0.24);
}

.fifth-section-header {
  display: flex;
  align-items: center;
  grid-gap: 1rem;
  gap: 1rem;
}

.fifth-section-header .fifth-section-image {
  height: 4rem;
  width: 4rem;
  border-radius: 9999px;
  object-fit: cover;
  background-color: royalblue;
}

.fifth-section-stars {
  display: flex;
  justify-content: center;
  grid-gap: 0.125rem;
  gap: 0.125rem;
  color: rgba(34, 197, 94, 1);
}

.fifth-section-stars svg {
  height: 1rem;
  width: 1rem;
}

.fifth-section-name {
  margin-top: 0.25rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgba(55, 65, 81, 1);
}

.fifth-section-message {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  margin-top: 1rem;
  color: rgba(107, 114, 128, 1);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.reviews-h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2.5rem;
  margin-bottom: 0;
  text-align: center;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.card__image {
  width: 140%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1em;
  margin: 0 0 0.3em;
  color: #6a515e;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: 0.8em;
  color: #d7bdca;
}

.card__status {
  font-size: 0.8em;
  color: #d7bdca;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #d7bdca;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #eeeeee;
}
.review-stars {
  width: 15px;
  display: flex;
}
html {
  scroll-behavior: smooth;
}

html,
body {
  scrollbar-width: none;
  scrollbar-color: #63d3d8 transparent;
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 15px;
  border-radius: 10px;
  background: linear-gradient(to top, #222831, #393e46, #00adb5, #eeeeee);
}
