@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Dongle&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background: url("/images/gradientwallpapers-07.png");
  background-repeat: no-repeat;
  /* background-size: cover; */
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.login-box {
  position: relative;
  width: 30%;
  height: 65%;
  background-color: #fff;
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
h2 {
  font-size: 2em;
  color: #161414;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.input-box {
  position: relative;
  width: 310px;
  margin: 30px 0;
  border-bottom: 1px solid #110f0f;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #100f0f;
  pointer-events: none;
  transition: 0.5s;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}
.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #0e0d0d;
  padding: 0 35px 0 5px;
}
button {
  width: 100%;
  height: 40px;
  background-color: #1a1818;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1em;
  color: #f3eded;
  font-weight: 500;
}
.register-link {
  font-size: 0.9em;
  color: #0b0a0a;
  text-align: center;
  margin: 25px 0 10px;
}
.register-link p a {
  color: #110e0e;
  text-decoration: none;
  font-weight: 600;
}
.register-link p a:hover {
  text-decoration: underline;
}
.bottom-logo {
  position: absolute;
  right: 0;
  bottom: 0;
}
.logo {
  width: 18vw;
  height: 8vh;
}
